.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../img/banner.jpg");
  // background-image: url("../img/heroBG.png");
  // background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  // min-height: 120vh;

  .container {
    padding-top: var(--header-size);
  }

  .heroBox {
    // --padding: 4rem;
    // padding-top: var(--padding);
    width: 100%;
    min-height: calc(100vh - var(--header-size));
  }
}

#sliderBox {
  float: left;
  width: 50%;
}

#heroImg {
  float: right;
  width: 50%;
}

.slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--size-700);
}

.hero-slider {
  margin-top: 8rem;
  padding-block: var(--size-400);
  color: var(--clr-neutral-100);
}

@media (max-width: 50em) {
  #sliderBox {
    // float: none;
    width: 100%;
  }

  #heroImg {
    // float: none;
    width: 100%;

    margin-top: 2rem;
  }

  .hero-slider {
    margin-top: 1rem;
  }
}
