.hero {
  // background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
  //   url("../img/heroBG2.png");
  // background-image: url("../img/heroBG.png");
  background-image: url("../img/heroBG2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  // min-height: 120vh;

  .container {
    padding-top: var(--header-size);
  }

  .heroBox {
    // --padding: 4rem;
    // padding-top: var(--padding);
    width: 100%;
    // min-height: calc(100vh - var(--header-size));

    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-700);

    &.height100Vh {
      min-height: calc(100vh - var(--header-size));
    }

    &.spaceUp {
      margin-top: 5rem;
    }

    &.col {
      flex-direction: column;
    }

    @media (max-width: 50em) {
      flex-direction: column;
    }
  }
}

#sliderBox {
  float: left;
  width: 50%;
}

#heroImg {
  float: right;
  width: 50%;
}

.slick-initialized .slick-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-700);
}

.contactSideBar {
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.formSideBar {
  padding: var(--size-700);

  @media (max-width: 50em) {
    padding: var(--size-400);
  }
}

#contactForm {
  width: 100%;
}

.whoWeAreSection {
  .grid > div {
    min-height: 30rem;
  }

  .imgDiv {
    position: relative;
    display: block;
    isolation: isolate;

    .imgRight {
      display: block;
      position: absolute;
      z-index: 0;
      right: 0;
      top: 0;
    }

    .borderImg {
      display: block;
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      border: 20px solid var(--clr-body-bg);
    }

    @media (max-width: 50em) {
      text-align: center;

      .imgRight {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .borderImg {
        display: none;
      }
    }
  }

  .whoWeAre_content {
    display: flex;
    flex-direction: column;
    gap: var(--size-700);
  }

  .whoWeAre_content-iconBox {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--size-400);
      text-align: center;

      li:not(:last-of-type) {
        border-right: 2px dotted var(--lg-border-400);
      }
    }

    @media (max-width: 30em) {
      ul {
        grid-template-columns: repeat(1, 1fr);

        li:not(:last-of-type) {
          border: none;
        }
      }
    }
  }
  @media (max-width: 50em) {
    .grid > div {
      min-height: 5rem;
    }
  }
}

.easyToUseSection {
  .easyCard {
    cursor: pointer;
    min-height: 14rem;
    padding: var(--size-600);
    border-radius: var(--size-400);
    border: 2px solid transparent;
    background-color: var(--clr-neutral-100);
    box-shadow: 0px 0px 20px 0px rgba(131, 149, 255, 0.14);

    transition: all linear 0.3s;

    &:hover {
      border-color: var(--clr-accent-400);
    }
  }

  @media (max-width: 70em) and (min-width: 50em) {
    .three-col {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.featuresSection {
  .grid {
    gap: 5rem;
  }
  .grid .col {
    position: relative;

    .imageDiv {
      border-radius: var(--size-400);
      overflow: hidden;
      // width: 90%;

      img {
        height: 25rem;
        width: 100%;
        object-fit: cover;
        object-position: center;
        transition: all linear 0.5s;

        &:hover {
          transform: scale(1.05);
        }
      }

      @media (max-width: 50em) {
        margin-inline: auto;

        img {
          height: 15rem;
        }
      }
    }

    .icon-box {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -60px;
      // transform: translateY(-30%);
      margin-right: -50px;
      width: 120px;
      height: 120px;
      font-size: 54px;
      line-height: 120px;
      color: #52c306;
      background: #ffffff;
      text-align: center;
      border-radius: 50%;
      transition: all linear 0.5s;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

      &.alterIcon {
        margin-left: -50px;
        left: 0;
      }

      @media (max-width: 56em) {
        left: 0;
        bottom: 0 !important;
        // margin: 0 -60px 0px 0px;
        // transform: translate(-50%, -50%);
        &.alterIcon {
          margin-left: 0;
        }
      }
    }
  }
}

.whyChooseUs {
  .whyChooseUs_cardBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: var(--size-400);
  }

  .gradient-box {
    position: relative;

    .circleBox {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: -4rem;
      margin-bottom: -4rem;
      aspect-ratio: 1;
      width: 8rem;
      border-radius: 100vmax;
      // background-color: var(--clr-accent-100);
      background-color: var(--clr-sec-bg);
    }
  }
}

@media (max-width: 50em) {
  #sliderBox {
    width: 100%;
    text-align: center !important;

    .sliderItem {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  #heroInfo {
    text-align: center;
    padding: 0;
  }

  #heroImg {
    // float: none;
    width: 100%;

    margin-top: 2rem;
  }

  .hero-slider {
    margin-top: 1rem;
  }
}
